@page "/"
@page "/products"
@inject SupabaseClientService Supabase

<h3>商品一覧</h3>

@if (products == null)
{
    <p>読み込み中...</p>
}
else
{
    <ul>
        @foreach (var p in products)
        {
            <li>
                <a href="products/edit/@p.Id">@p.Title (@p.Series)</a>
            </li>
        }
    </ul>
}

@code {
    List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        var result = await Supabase.Client
            .From<Product>()
            .Get();

        products = result.Models;
    }
}